/* controls button resizing */
.react-flow__controls-button {
  width: 40px;
  height: 40px;
}

/* controls button icons resizing */
.react-flow__controls-button svg {
  width: 100%;
  max-width: 16px;
  max-height: 16px;
}
