@theme {
  --color-bg: var(--theme-bg);
  --color-surface: var(--theme-surface);
  --color-text: var(--theme-text);
  --color-border: var(--theme-border);
  --color-primary: var(--theme-primary);
  --color-secondary: var(--theme-secondary);
  --color-dim: var(--theme-dim);
  --color-dim-border: var(--theme-dim-border);
}

@layer base {
  :root {
    --sans: system-ui, "Segoe UI", Roboto, sans-serif;
    --heading: system-ui, "Segoe UI", Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;

    /* Light Theme */
    --theme-bg: #ffffff;
    --theme-surface: #f3f4f6;
    --theme-text: #000000;
    --theme-border: #d1d5db;
    --theme-primary: #111827;
    --theme-secondary: #6b7280;
    --theme-dim: #e9e9e9;
    --theme-dim-border: #b3b3b3;
  }

  [data-theme="dark"] {
    /* Dark Theme */
    --theme-bg: #d8d8d8;
    --theme-surface: #1f2937;
    --theme-text: #ffffff;
    --theme-border: #374151;
    --theme-primary: #f9fafb;
    --theme-secondary: #9ca3af;
    --theme-dim: #444444;
    --theme-dim-border: #e9e9e9;
  }

  body,
  html,
  #root {
    height: 100%;
  }

  body {
    @apply m-0 font-sans;
    background-color: var(--theme-bg);
    color: var(--theme-text);
  }
}
